.panda-bg-info{
    background-color: #fceae8 !important;
}
/* .catagori img{
    width: 100px;
}
.panda-btn-by-now{
    background-image: linear-gradient(0%, #ff4b92 100%);
    color: rgb(143, 24, 24);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
} */